.radio {
  position: relative;
}

.radio-control {
  position: absolute;
  opacity: 0;
}

.radio-control,
.radio-icon {
  height: 24px;
  width: 24px;
  border-radius: 100%;
  vertical-align: middle;
}

.radio-icon {
  display: inline-block;
  position: relative;
  font-style: normal;
  -webkit-transition: border 300ms;
  transition: border 300ms;
  background-color: #fff;
  border: 1px solid #E5E5E5;
}

.radio-control:checked ~ .radio-icon {
  border-width: 4px;
  border-color: #2980B9;
}