/**
 * Tabs
 */
.tabs {
  position: relative;
  padding: 0;
  margin-bottom: 5px;
  list-style: none;
  min-height: 250px;
  overflow: hidden;
}

.tabs > li {
  display: inline-block;
}

.tabs-label {
  display: inline-block;
  padding: 10px 15px;
  margin-right: 2px;
  background-color: #FFF;
  cursor: pointer;
  position: relative;
  top: 1px;
  z-index: 1;
}

.tabs-control {
  position: absolute;
  opacity: 0;
  top: 0;
  z-index: -1;
}

.tabs-panel {
  display: none;
  position: absolute;
  padding: 20px 0;
  border-top: 1px solid #ddd;
  width: 100%;
  left: 0;
}

.tabs-control:checked ~ .tabs-label {
  border: 1px solid #ddd;
  border-bottom: 1px solid #fff;
}

.tabs-control:checked ~ .tabs-panel {
  display: block;
}